<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="/stylesheets/material-icon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cermati SMS</title>
</head>
<body>
<header id="home">
    <div class="navbar-fixed">
        <ul id="sendSMS" class="dropdown-content">
            <li class="top-menu"><a href="/single" class="black-text font-17">Single SMS</a></li>
            <li class="top-menu"><a href="/blast" class="black-text font-17">SMS Blasting</a></li>
        </ul>

        <ul id="adminMenu" class="dropdown-content">
            <li class="top-menu"><a href="/user" class="black-text font-17">User</a></li>
            <li class="top-menu"><a href="/report" class="black-text font-17">Laporan</a></li>
            <li class="top-menu"><a href="/log" class="black-text font-17">Log</a></li>
        </ul>

        <ul id="conversation" class="dropdown-content">
            <li class="top-menu"><a href="/allconversation" class="black-text font-17">Semua Percakapan</a></li>
            <li class="top-menu"><a href="/myconversation" class="black-text font-17">Percakapan Saya</a></li>
        </ul>
        <nav class="white z-depth-0 border-bottom">
            <div class="nav-wrapper width-nav">
                <a href="#" data-activates="mobile-demo" class="mt-10 button-collapse grey-text"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo logo-wrapper right">
                    <div class="valign-wrapper">
                        <span class="black-text font-20 valign text-logo">Cermati SMS</span>
                        <img class="admin-logo ml-10 valign" src="/images/cermati.png">
                    </div>
                </a>

                <ul class="left hide-on-med-and-down">
                    <!--<li><a class="black-text font-17" href="#">Kirim SMS</a></li>-->
                    <li class="top-menu"><a class="black-text font-17 dropdown-button" href="#!" data-activates="sendSMS">Kirim SMS<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="top-menu"><a class="black-text font-17" href="/inbox">SMS Masuk</a></li>
                    <li class="top-menu"><a class="black-text font-17" href="/sent">SMS Terkirim</a></li>
                    <li class="top-menu"><a class="black-text font-17" href="/pending">SMS Pending</a></li>
                    <li class="top-menu"><a class="black-text font-17 dropdown-button" href="#!" data-activates="conversation">Percakapan<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="top-menu"><a class="black-text font-17 dropdown-button" href="#!" data-activates="adminMenu">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="top-menu"><a class="black-text font-17" href="/login">Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="no-padding">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li class="side-menu">
                                <a class="collapsible-header black-text" href="#">Kirim SMS</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="side-menu"><a class="black-text" href="/single">Single SMS</a></li>
                                        <li class="side-menu"><a class="black-text" href="/blast">SMS Blasting</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="side-menu">
                                <a class="collapsible-header black-text" href="#">Percakapan</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="side-menu"><a class="black-text" href="/allconversation">Semua Percakapan</a></li>
                                        <li class="side-menu"><a class="black-text" href="/myconversation">Percakapan Saya</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="side-menu">
                                <a class="collapsible-header black-text" href="#">Admin</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="side-menu"><a class="black-text" href="/user">User</a></li>
                                        <li class="side-menu"><a class="black-text" href="/report">Laporan</a></li>
                                        <li class="side-menu"><a class="black-text" href="/log">Log</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="side-menu"><a class="black-text" href="/inbox">SMS Masuk</a></li>
                    <li class="side-menu"><a class="black-text" href="/sent">SMS Terkirim</a></li>
                    <li class="side-menu"><a class="black-text" href="/pending">SMS Pending</a></li>
                    <li class="side-menu"><a class="black-text" href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="row">
        {{{body}}}
    </div>
</main>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize.js"></script>
<script type="text/javascript" src="/javascripts/smsapps.js"></script>
</html>