<div class="width-nav mt-30">
    <div class="col s12 mb-20">
        <span class="left font-40">SMS Pending</span>
    </div>
    <div class="col s12 hide-on-med-and-down">
        <table class="striped">
            <thead>
            <tr>
                <th width="7%" data-field="time">Tanggal</th>
                <th width="7%" data-field="sender">Penerima</th>
                <th width="10%" data-field="case">Urusan Pelanggan</th>
                <th width="64%" data-field="message">Pesan</th>
                <th width="5%" data-field="message">Status</th>
                <th width="7%" data-field="message">Pengirim</th>
                <th data-field="action"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="break-word">
                </td>
                <td>
                </td>
                <td class="break-word">
                </td>
                <td class="break-word">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td class="valign-wrapper">
                    <a class='dropdown-button btn-floating blue' href='#' data-activates='action'><i class="material-icons">menu</i></a>
                    <ul id='action' class='dropdown-content'>
                        <li><a href="https://crm.zoho.com/crm/GlobalSearch1.do?sModules=AllEntities&searchword=#">CRM</a></li>
                        <li><a href="https://support.zoho.com/support/cermati/ShowHomePage.do#Cases/search/CurDep/#">SUPPORT</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Percakapan</a></li>
                    </ul>
                </td>
            </tr>
            <tbody>
        </table>
    </div>
    <div class="col s12 hide-on-large-only">
        <ul class="collection">
            <li class="collection-item">
                <div class="col s12">
                    <div class="col s12 mb-20 font-normal font-17">
                        <a class='dropdown-button-right left btn-floating blue' href='#' data-activates='action1'><i class="material-icons">menu</i></a>
                        <div class="collection-content">
                            <span>2 Juni 2016 - 08:35</span><br>
                            <span>0812312341234 - Bapak Budi</span><br>
                            <span>Pengajuan Kartu Kredit Bukopin</span>
                            <div class="divider"></div>
                            <p>
                                Ini isi pesan
                            </p>
                            <div class="divider"></div>
                            <span>Pengirim: Iwan</span> <br>
                            <span>Status : </span><span class="blue-text">Pending</span>
                        </div>

                        <ul id='action1' class='dropdown-content'>
                            <li><a href="https://crm.zoho.com/crm/GlobalSearch1.do?sModules=AllEntities&searchword=#">CRM</a></li>
                            <li><a href="https://support.zoho.com/support/cermati/ShowHomePage.do#Cases/search/CurDep/#">SUPPORT</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">Percakapan</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>